.container {
  display: flex;
  align-items: center;
}

.name {

}

.path {
  display: flex;
  align-items: center;
}

.item {
  width: 40px;
  height: 40px;
  background-color: aliceblue;

  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, lightblue 50%, darkgray 50%, lightblue 100%);
  border-image-slice: 1;
}

.path-joint {
  height: 10px;
  width: 40px;
  background-color: gray;
}