.container {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.name {
  font-size: 12px;
  margin-right: 30px;
}

.path {
  display: flex;
  align-items: center;
}

.path-joint {
  height: 12px;
  width: 40px;
  background-color: #212223;
  border: 1px solid #292a2b;

  @media (min-width: 1025px) {
    width: 80px;
  }
}