.icon {
  cursor: pointer;
  width: 56px;
  height: 56px;
  background-image: url('../../assets/talent-icons-sprite.png');
  background-size: auto;
  z-index: 1;
}

.chevrons-highlighted {
  @extend .icon;
  background-position: 400px 0px; 
}

.chevrons {
  @extend .icon;
  background-position: 400px 50px; 
}

.silverware-highlighted {
  @extend .icon;
  background-position: 350px 0px; 
}

.silverware {
  @extend .icon;
  background-position: 350px 50px; 
}

.cake-highlighted {
  @extend .icon;
  background-position: 300px 0px; 
}

.cake {
  @extend .icon;
  background-position: 300px 50px; 
}

.crown-highlighted {
  @extend .icon;
  background-position: 250px 0px; 
}

.crown {
  @extend .icon;
  background-position: 250px 50px; 
}

.ship-highlighted {
  @extend .icon;
  background-position: 200px 0px; 
}

.ship {
  @extend .icon;
  background-position: 200px 50px; 
}

.snorkel-highlighted {
  @extend .icon;
  background-position: 150px 0px; 
}

.snorkel {
  @extend .icon;
  background-position: 150px 50px; 
}

.thunder-highlighted {
  @extend .icon;
  background-position: 100px 0px; 
}

.thunder {
  @extend .icon;
  background-position: 100px 50px;
}

.skull-highlighted {
  @extend .icon;
  background-position: 50px 0px;
}

.skull {
  @extend .icon;
  background-position: 50px 50px;
}


.border-active {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #6ea5df 50%, #1d2c3d 55%, #6ea5df 105%);
  border-image-slice: 1;

  box-shadow: 0 0 1px 1px rgba(20, 20, 20, 0.6), 
              0 0 6px 1px rgba(255, 255, 255, 0.5); 
}

.border-inactive {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #505050 50%, #3a3a3a 55%, #505050 105%);
  border-image-slice: 1;

  box-shadow: 0 0 1px 1px rgba(40, 40, 40, 0.8),
              inset 0 0 4px 2px rgba(40, 40, 40, 0.6);               
}


@keyframes darken {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.7);
  }
  100% {
    filter: brightness(1);
  }
}

.darken-animation {
  animation: darken 0.3s ease;
}